{% extends 'layouts/base-dashboard.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include "includes/sidebar.html" %}
        <div class="col mt-2">
            <div class="row d-flex justify-content-center">
                <div class="container">   
                    <div class="row">  
                        <div class="col-12 col-md-6 offset-md-3 mt-3 border rounded shadow p-3 mb-4">
                            <h3 class="display-6 text-center">Agregar Servicio</h3>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}     
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>  

{% endblock content %}