{% extends 'page/base.html' %}
{% load static %}


{% block content %}

<div class="container mb-4 text-dark">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
            <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled"
                type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Disabled</button>
        </div>
    </nav>
    <!-- home -->
    <div class="tab-content " id="nav-tabContent">
        <div class="tab-pane fade show active d-flex" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0">
            <div class="col-md-4">
                Aqui debo ver informacion de los trabajos que faltan por realizar y los tiempos que faltan para finalizar
            </div>
            <div class="col-md-4">
                este es otro texto
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="col-md-6">
                aqui quiero ver los servicios q tengo ademas de poder filtrarlos por el nombre descriptivo
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            <div class="cold-md-6">
                en esta tabs quiero poder aregar nuevos trabajos aunque deberia ser la primera pagina que por facilidad de uso debe ser el apartaod mas rapido de acceder
            </div>
        </div>
        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0"> aqui se revisan las ot realizadas y el avance
        </div>
    </div>
</div>


{% endblock content %}