{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
        
    <div class="row">
        
        <div class="col-12 col-md-6 offset-md-3 mt-3 border rounded-4 shadow p-3">
            <h3>Iniciar Sesión</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="button btn btn-success"> Iniciar Sesion</button>
            </form>
        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>



{% endblock content %}